body{
    background-color: rgb(193, 229, 193);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    opacity: .8;
    
}

.container{
    height: 600px;
    width: 600px;
    background-image: radial-gradient(circle at 50% 44.04%, #b2eaff 0, #5389f2 50%, #003265 100%);
    border-radius: 25px;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: absolute;
}
.elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
   
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}


.pregunta {
    width: 100%;
    text-align: center;
}

.respuesta{
    width: 40%;
    transition: width  linear 1s 0.75s ;
}

.respuesta:focus {
    width: 70%;
  }
  
  .enviar{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 2em;
  }

  button{
    display: flex;
    background: linear-gradient(#000,30%,rgb(177, 171, 171) 70%);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;

  }