body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(206, 199, 199);
}

.container{
    height: 600px;
    width: 600px;
    background-image: radial-gradient(circle at 50% 44.04%, #edf1f3 0, #ffffff 50%, #e5eaee 100%);
    border-radius: 25px;
    position: relative;
    opacity: .7;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
}

.elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

h1{
   
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}


label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

select{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  cursor: pointer;
  padding: 5px;
  transition: all 0.25s ease;
  border: 0;
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 255, 0.25), 0px 30px 90px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 70, 64, 0.35);
}

select:hover{
  background: #b1cde8;
}

  
  .enviar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    gap: 2em;
  }

  button{
    display: flex;
    justify-content: center;
    background: linear-gradient(#000,30%,rgb(180, 175, 175) 70%);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 90%;
  }
